{% extends '_templates/base.njk' %}

{% block page_title %}Capt. McGillicutty's Ship's Log{% endblock %}

{% block page_description %} Follow Capt. McGillicutty on his adventures on the high seas {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>A pirate's life is for me</h1>
      <p>Hempen halter mizzenmast deadlights gaff pillage starboard jack lee Blimey draught. Man-of-war piracy black jack sutler Yellow Jack keel provost overhaul execution dock rigging. Log quarterdeck dead men tell no tales red ensign gibbet grog blossom bilge Nelsons folly code of conduct gunwalls.</p>
        
        {% for blog in blog.blogs %}
          <div class="card border-light">
            <h6 class="">{{blog.date}}</h6>
            <h4><span><a href="blog/{{blog.slug}}.html">{{blog.headline}}</a></span></h4>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
